.header{
    font-family: var(--font-primary);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
@media(max-width: 768){
    .header{
        flex-direction: column;
    }
}
.header__nav{
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    gap: 3rem;/*1rem =14px*/
}