@mixin default-border{
    border: 5px solid blue;
}

@mixin custom-border($width, $color, $is-solid: true){
    @if $is-solid{
        //se ejecutasi is-solid es true
        border: $width solid $color;
    }@else{
        //se ejecuta si is-solid es false
        border: $width dashed $color;
    }
}