@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/
:root{
    /*Fonts*/
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-size: 14px;
    --font-weigth-regular: 400;
    --font-weigth-bold: 700;

    /*COLORS*/
    /*primary*/
    --primary-Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /*Accent*/
    --accent-Bright-Blue: hsl(224, 93%, 58%);
    --accent-Moderate-Cyan: hsl(170, 45%, 43%);

    /*Neutral*/
    --neutral-Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}

*{
    box-sizing: border-box;
    margin:0;
}
html{
    font-size: var(--font-size);
}
body{
    background-color: var(--neutral-Light-Grayish-Blue);
    position: relative;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    
    height: auto;
    
}
.header{

    width: min(100% - 20rem, 1440px);
    font-family: var(--font-primary);
    
    margin: 0 auto;
    display: flex;    
    justify-content: space-between;
    margin-top: 3rem;
    
}
.header__nav{
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 2.5rem;
}
.header__logo{
    width: 176px;
    padding-left: 2rem;
}
.files{

    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--neutral-Light-Grayish-Blue);
    gap: 10rem;
    margin-top: 3rem;
}
.file__img{

    width: 500px;
    
    
}
.letter_files{
    display: flex;
    flex-direction: column;
    
    
    gap: 1rem;
    width: min(100% - 3rem, 550px);
}
.files__title{
   
    font-family: var(--font-primary);
    font-weight: var(--font-weigth-bold);
    font-size: 2.5rem;
    line-height:4rem;
    color: var(--primary-Very-Dark-Blue);
}
.files__text{
    
    font-family: var(--font-secondary);
    font-size: 1rem;
    color: var(--Desaturated-Blue);
    padding-right: 1rem;
    
}
.file__form{
   display: flex;
   width: 100%;
   align-items: center;
   gap: 1rem;
}
.files input[type=email]{
    border-radius: .2rem;
    font-family: var(--font-secondary);
    padding: 1rem 1rem;
    width: min(100%, 20rem);
    opacity:.3;
    font-size: 1rem;
    border: solid 1px;
}
.files input[type=submit]{
    color: var(--neutral-Light-Grayish-Blue);
    background-color: var(--accent-Bright-Blue);
    font-family: var(--font-primary);
    font-weight: var(--font-weigth-bold);
    border-radius: .2rem;
    padding: 1rem 1rem;
    width: min(100%, 10rem);
    height: 3.5rem;
    border: none;
}
.productive{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 18rem;
    
}
.productive__image{
    
    width: 500px;
   
}
.productive__wrappe{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
   
    
}
.productive__title{
    font-family: var(--font-primary);
    font-weight: var(--font-weigth-bold);
    font-size: 2.5rem;
    color: var(--primary-Very-Dark-Blue);
    padding-bottom: 2rem;
    
}
.productive__text{
    font-family: var(--font-secondary);
    font-size: 1rem;
    color: var(--Desaturated-Blue);
    padding-right: 1rem;
}
.productive__button{
    font-family: var(--font-secondary);
    color: var(--accent-Moderate-Cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--accent-Moderate-Cyan);
    width: 10.3rem;
}
.testimonio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: min(100% - 3rem, 23rem);
    border: 1px solid ;
    border-radius: 2rem;
}
.testimonio_profile{
    display: flex;
    gap: 1rem;   
    
    align-items: center;
}
.testimonio__text{
    font-family: var(--font-secondary);
    font-size: .8rem;
    color: var(--Desaturated-Blue);
    padding-right: 1rem;
    line-height: 1.5rem;
}
.testimonio_profile img{
    border-radius: 2rem;
}
.testimonio_profile h4{
    font-family: var(--font-secondary);
    font-size: var(--font-weigth-bold);
}
.testimonio_profile h5{
    font-family: var(--font-secondary);
    
}


