@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/
:root{
    /*Fonts*/
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-size: 14px;
    --font-weigth-regular: 400;
    --font-weigth-bold: 700;

    /*COLORS*/
    /*primary*/
    --primary-Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /*Accent*/
    --accent-Bright-Blue: hsl(224, 93%, 58%);
    --accent-Moderate-Cyan: hsl(170, 45%, 43%);

    /*Neutral*/
    --neutral-Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}

*{
    box-sizing: border-box;
    margin:0;
}
html{
    font-size: var(--font-size);
}
body{
    background-color: var(--neutral-Light-Grayish-Blue);
    position: relative;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    
    height: auto;
    
}
.header{

    width: min(100% - 20rem, 1440px);
    font-family: var(--font-primary);
    
    margin: 0 auto;
    display: flex;    
    justify-content: space-between;
    margin-top: 3rem;
    
}
.header__nav{
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 2.5rem;
}
.header__logo{
    width: 176px;
    margin-top: 2rem;
}
@media (max-width: 768px) {
    .header {
      flex-direction: column;
      width: auto;
      align-items: center;
      justify-content: center;
      
    }
    .header__logo{
        max-width: auto;
        
    }
  }
.files{

    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--neutral-Light-Grayish-Blue);
    gap: 10rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
}
@media (max-width: 768px){
    .files{
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        
    }
   
}
.file__img{

    width: 500px;
}
@media (max-width:768px){
    .file__img{
        max-width: 0 auto;
    }
}
.letter_files{
    display: flex;
    flex-direction: column;
    
    
    gap: 1rem;
    width: min(100% - 3rem, 40rem);
}
.files__title{
   
    font-family: var(--font-primary);
    font-weight: var(--font-weigth-bold);
    font-size: 2.5rem;
    line-height:4rem;
    color: var(--primary-Very-Dark-Blue);
}

.files__text{
    
    font-family: var(--font-secondary);
    font-size: 1rem;
    color: var(--Desaturated-Blue);
    padding-right: 1rem;
    
}
.file__form{
   display: flex;
   width: 100%;
   align-items: center;
   gap: 1rem;
}
.files input[type=email]{
    border-radius: .2rem;
    font-family: var(--font-secondary);
    padding: 1rem 1rem;
    width: min(100%, 20rem);
    opacity:.3;
    font-size: 1rem;
    border: solid 1px;
}
.files input[type=submit]{
    color: var(--neutral-Light-Grayish-Blue);
    background-color: var(--accent-Bright-Blue);
    font-family: var(--font-primary);
    font-weight: var(--font-weigth-bold);
    border-radius: .2rem;
    padding: 1rem 1rem;
    width: min(100%, 10rem);
    height: 3.5rem;
    border: none;
}
.productive{
    display: flex;
    gap: 2rem;
    padding-top: 18rem;
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-bottom: 8rem;
}
@media (max-width:768px){
    .productive{
        flex-direction: column;
        padding-right: 1rem;
        align-items: center;
        padding-top: 5rem;
    }
}

.productive__wrappe{
    display: flex;
    flex-direction: column;
    align-items:center;

}
.productive__image{
    
    width: 500px;
   
}
.productive__info{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: min(100% - 2rem, 40rem);
    gap: 1rem;
}
@media (max-width:768px){
    .productive__image{
        padding: 1rem;
        
    }
    .productive__info{
        gap: 3rem;
    }
}
.productive__title{
    font-family: var(--font-primary);
    font-weight: var(--font-weigth-bold);
    font-size: 2.5rem;
    color: var(--primary-Very-Dark-Blue);
    padding-bottom: 2rem;
}
@media (max-width:768px){
    .productive__title{
        width: 0 auto;
        padding-left: 1rem;
    }
}
.productive__text{
    font-family: var(--font-secondary);
    font-size: 1rem;
    color: var(--Desaturated-Blue);
    padding-right: 1rem;
}
.productive__button{
    font-family: var(--font-secondary);
    color: var(--accent-Moderate-Cyan);
    display: flex;
    border-bottom: 1px solid var(--accent-Moderate-Cyan);
    width: 10.3rem;
}
.testimonio{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 1rem 1rem;
    width: min(100% - 3rem, 25rem);
    gap: 1rem;
    box-shadow: 1px 5px 30px var(--Light-Gray);
    border-radius: .5rem;
}
.testimonio_profile{
    display: flex;
    padding-top: 1rem;  
    gap: 1rem;
    align-items: center;
}
.testimonio__text{
    font-family: var(--font-secondary);
    font-size: .8rem;
    color: var(--Desaturated-Blue);
    padding-right: 1rem;
    line-height: 1.5rem;
    gap: 1rem;
}
.testimonio_profile img{
    border-radius: 4rem;
    width: 30px;
}
.testimonio_profile h4{
    font-family: var(--font-secondary);
    font-size: var(--font-weigth-bold);
    font-weight: var(--font-weigth-bold);
    color: var(--primary-Very-Dark-Blue);
    letter-spacing: .5px;
}
.testimonio_profile h5{
    font-family: var(--font-primary);
    font-size:8px;
    color: var(--Light-Gray);
    letter-spacing: 1px;
}
.early{
    background-color: var(--Desaturated-Blue);
    display: flex;    
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px){
    .early{
        display: flex;
        flex-direction: column;
        gap:0rem
    }
}
.early__wrappe{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    width: min(100% - 2rem, 33rem);
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.early__wrappe h1{
    font-family: var(--font-primary);
    color: var(--neutral-Light-Grayish-Blue);
    font-size: 2rem;
    letter-spacing: .5px;
    padding: 2rem;
}
.early__wrappe p{
    font-family: var(--font-secondary);
    color: var(--neutral-Light-Grayish-Blue);
    font-size: .8rem;
    letter-spacing: 1px;    
    padding:0rem 2rem 2rem 2rem;
}
.early_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(100% - 2rem, 53rem);
}

.early_form-email{
    border-radius: .3rem;
    font-family: var(--font-secondary);
    opacity: 100; 
    padding: 1rem 1rem;
    width: min(100%, 35rem);
    font-size: 1rem;
    margin-left: 15rem;
}
.early_form-submit{
    color: var(--neutral-Light-Grayish-Blue);
    background-color: var(--accent-Bright-Blue);
    font-family: var(--font-primary);
    font-weight: var(--font-weigth-bold);
    border-radius: .2rem;
    padding: .8rem .8rem;
    width: min(100%, 13rem);
    margin-left: 15rem;
    height: 3rem;
    border: none;
}
@media (max-width:768px){
    .early__wrappe{
        margin: 0 auto;
        width: min(100%, 40rem);
    }
    
    .early_form{
      align-items: end;
      width: min(100%, 25rem);
      margin-bottom: 2rem;
    }
    .early_form-submit{
        margin: 0 auto;
        
    }
}

/* footer */
.footer{
    font-family: var(--font-primary);
    background-color: var(--primary-Very-Dark-Blue);
    padding: 10rem 0 5rem 0;
   
}
.footer--wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 2rem    ;     */
    margin: 0 auto;
    width: min(100% - 2rem, 87rem);
}
.footer-info{
    display: flex;
    gap: 4rem;
    width: 100%;
    justify-content: space-between;
}
@media (max-width: 768px){
    .footer__logo{
        
        padding-left: 2rem;
    }
    .footer-info{
        flex-direction: column;
        align-items: center;
    }
}

.footer-info__description{
    width: 22rem;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}
.footer-info__contact{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--neutral-Light-Grayish-Blue);
    margin-top: 3rem;
}
.footer-info__contact span{
    display: flex;
    gap: 1rem;
}
.footer-info__links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--neutral-Light-Grayish-Blue);
}
.social__img{
   
    border: 1px solid var(--neutral-Light-Grayish-Blue);
    padding: 4px;
    border-radius: 100px;
    background-color: var(--neutral-Light-Grayish-Blue);
}
